@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@apply bg-gray-800 font-ubuntu overflow-x-hidden;
}

.font-ubuntu {
	font-family: 'Ubuntu';
}

.font-nunito {
	font-family: 'Nunito Sans';
}

.container {
	@apply w-5/6;
}

.social-icon {
	@apply text-gray-100 transform scale-110;
}

.side-btn {
	@apply mb-3;
}
