@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.font-ubuntu {
	font-family: 'Ubuntu';
}

.font-nunito {
	font-family: 'Nunito';
}

/* .ubuntu-light { */
/* 	font-weight: 300; */
/* } */
/* .ubuntu-regular { */
/* 	font-weight: 400; */
/* } */
/* .ubuntu-medium { */
/* 	font-weight: 500; */
/* } */
/* .ubuntu-bold { */
/* 	font-weight: 700; */
/* } */
